        <div id="footer-1">
        </div>
        <div id="footer-main">
            <div id="footer-centre">
                <p id="copyright" class="centre">&copy; 2009 Somerset Rural Music School</p>
                <img src="{{ '/img/tdbc.png' | prepend: site.github.url }}" alt="Taunton Deane Borough Council" id="tdbc" class="centre" />
                <p id="thanks" class="centre">SRMS would like to gratefully acknowledge <br />the long-standing and continued support <br />and encouragement of T.D.B.C</p>
            </div>
        </div>