    <div id="header">
        <img src="{{ '/img/piper.png' | prepend: site.github.url }}" alt="SRMS" id="logo" />
        <img src="{{ '/img/header-text.png' | prepend: site.github.url }}" alt="SRMS" id="header-text" />
    </div>
    <div id="menu">
        <div id="links">
            <ul>
                <li class="selected">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/what-we-offer">What We Offer</a>
                </li>
                <li>
                    <a href="/where">Where</a>
                </li>
                <li>
                    <a href="/prices">Prices</a>
                </li>
                <li>
                    <a href="/tutors">Tutors</a>
                </li>
                <li class="last">
                    <a href="/contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>