    <div id="header">
        <img src="{{ '/img/piper.png' | prepend: site.github.url }}" alt="SRMS" id="logo" />
        <img src="{{ '/img/header-text.png' | prepend: site.github.url }}" alt="SRMS" id="header-text" />
    </div>
    <div id="menu">
        <div id="links">
            <ul>
                <li class="selected">
                    <a href="{{ '/' | prepend: site.github.url }}">Home</a>
                </li>
                <li>
                    <a href="{{ '/what-we-offer' | prepend: site.github.url }}">What We Offer</a>
                </li>
                <li>
                    <a href="{{ '/where' | prepend: site.github.url }}">Where</a>
                </li>
                <li>
                    <a href="{{ '/prices' | prepend: site.github.url }}">Prices</a>
                </li>
                <li>
                    <a href="{{ '/tutors' | prepend: site.github.url }}">Tutors</a>
                </li>
                <li class="last">
                    <a href="{{ '/contact-us' | prepend: site.github.url }}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>