            <div id="news">
                <p class="more"><a href="/news" class="float-right">more</a></p>
                <h1><a href="/news">NEWS</a></h1>
                <p><a href="/news/id:27">Trumpet For Sale</a></p>
                <br />
                <p><a href="/news/id:11">Bad Weather and Emergency Closure Arrangements </a></p>
                <br />
            </div>
            <div id="dates">
                <p class="more"><a href="/dates" class="float-right">more</a></p>
                <h1><a href="/dates">DATES</a></h1>
            </div>