            <div id="news">
                <p class="more"><a href="{{ '/news' | prepend: site.github.url }}" class="float-right">more</a></p>
                <h1><a href="{{ '/news' | prepend: site.github.url }}">NEWS</a></h1>
{% assign sorted_pages = site.news | sort: "date" | reverse %}
{% for page in sorted_pages limit: 5%}
                <p><a href="{{ page.url | prepend: site.github.url }}" rel="bookmark" title="Permanent link" class="crpw-title">{{ page.title }}</a></p>
                <br />
{% endfor %}
            </div>
            <div id="dates">
                <p class="more"><a href="{{ '/dates' | prepend: site.github.url }}" class="float-right">more</a></p>
                <h1><a href="{{ '/dates' | prepend: site.github.url }}">DATES</a></h1>
            </div>